.App 
{
  text-align: center;
}

#first-page
{
  height: 100vh;
}


.cards
{
  display: flex; 
  position: absolute; 
  bottom: 40vh; 
}
.cards *{
  transition-duration: 0.1s; 
}
.cards *:hover {
  box-shadow: 7.5px 5px 1px 1px; 
}
.CampusCard
{
  width: 30vw; 
  padding: 1.5vw; 
}

.CampusCard, .CampusCard * 
{
  /* Propagates click events to parent */ 
  pointer-events: none;
}
.CampusCard h2
{
  font-size: 2.5em; 
}
.CampusCard img{
  width: inherit; 
}

.Campus
{
  position: absolute;
  top: 100vh; 
  height: 100vh;
  width: 100vw; 
}
.Campus section
{
  height: 50vh;
}